################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Banca/Banca
/Banca/Banca.Tests/obj/Debug
/Banca/Service
/Banca/.vs/Banca/v15/Server/sqlite3
/Banca/.vs/Banca/v15
