@model Banca.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<link href="~/Content/bootstrap.css" rel="stylesheet"/>

<body>
    <div class="panel panel-primary">
        @using (Html.BeginForm("Autenticarse", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="panel-heading">
                <h4>Usuario</h4>

                <div class="panel-body">
                    @Html.LabelFor(model => Model.username, "Nombre de usuario")
                    @Html.TextBoxFor(model => Model.username, new { type = "text", @class = "form-control", @id = "idUsuario" })
                </div>

                <div class="panel-body">
                    @Html.LabelFor(model => Model.password, "Contraseña")
                    @Html.TextBoxFor(model => model.password, new { type = "password", @class = "form-control", @id = "idPassword" })
                </div>
                <div class="panel-body">

                    <button id="idLoguearse" class="btn btn-primary" type="submit">Login</button>
                </div>
            </div>
        }
        </div>
</body>
</html>
 